@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/bck-fundo3.jpg");
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.from{
    background-color: #111111f5;
    width:35%;
    padding: 30px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 1px 1px 30px rgba(105, 104, 104, 0.267);
}
#tit-ico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 1.7em;
    font-family:"Rowdies";
    text-align: center;
    padding: 5px;
    margin: 5px 0px 10px 0px;
    color: orange;
}
.material-symbols-outlined{
    font-size: 3em;
    color: orange;
}
.inp-login, .inp-pass{
    position: relative;
    padding: 5px;
    margin: 25px 0px;
}

#nome,#senha{
    background-color: #000000;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding-left: 30px;
    border-radius:5px;
    height: 40px;
    width:100%;
    outline: none;
    cursor: pointer;
    border: none;
}
label{
    font-family:"Rowdies";
    font-size:0.6em;
    color: darkgrey;
    padding: 10px 0px 0px 14px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 15px;
    pointer-events: none;
    transition: 0.5s;
}
.inp-login> #nome:focus ~label,
.inp-pass> #senha:focus ~label{  
    color: orange;
    font-size: 1em;
    left: -5%;
    top: -75%;
}
.inp-login> #nome:valid ~label,
.inp-pass> #senha:valid ~label{
    left: -5%;
    top: -75%;
}
#nome:focus:focus:invalid{
    border: 1px solid rgb(233, 110, 110);
}
#nome:focus:valid:focus{
    border: 1px solid green;
}
#senha:focus:focus:invalid{
    border: 1px solid rgb(233, 110, 110);
}
#senha:focus:valid:focus{
    border: 1px solid green;
}
#login-ico{
    font-size: 1em;
    position: absolute;
    top: 35%;
    left: 3%;
}
#pass-ico{
    font-size: 1em;
    position: absolute;
    top: 35%;
    left: 3%;
}
.btn-sing-up{
    margin: 25px 0px;
}
button{
    margin: 13px 0px;
    margin-bottom: 50px;
    display: block;
    width:100%;
    height: 35px;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family:"Rowdies";
    font-size: 1em;
    cursor: pointer;
    transition: 0.6s;
}

button:hover{
    color: orange;
    background-color:rgb(0, 0, 0) ;
}

.btn-sing-up > a {
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    text-decoration: none;

}
#new-cont #esque-pass{
    margin-top: 30px;
}
.btn-sing-up >#new-cont:hover{
    color: orange;
    
}
.btn-sing-up >#esque-pass:hover{
    color: orange;
}